<div class="c">
  <h1>Magyar Tvic$i Ricc$</h1>
  <span>Az oszlopok nevére kattintva tudod rendezni a táblázatot. </span>
  <span class="i">A rendezés a nagy adatmennyiség miatt lassú lehet!</span>
  <span class="d">Elérhetőség: <span>tvicsiriccs@protonmail.com</span></span>
</div>

<table mat-table [dataSource]="dataSource" matSort matSortActive="sum" matSortDirection="desc" matSortDisableClear>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> # </th>
    <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
  </ng-container>

  <ng-container matColumnDef="display_name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Név </th>
    <td mat-cell *matCellDef="let element"> {{element.display_name}} </td>
  </ng-container>

  <ng-container matColumnDef="ad_share_gross">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Reklám </th>
    <td mat-cell *matCellDef="let element"> {{element.ad_share_gross | currency }} </td>
  </ng-container>

  <ng-container matColumnDef="sub_share_gross">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sub </th>
    <td mat-cell *matCellDef="let element"> {{element.sub_share_gross | currency }} </td>
  </ng-container>

  <ng-container matColumnDef="bits_share_gross">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cheer </th>
    <td mat-cell *matCellDef="let element"> {{element.bits_share_gross | currency }} </td>
  </ng-container>

  <ng-container matColumnDef="bits_extension_share_gross">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cheer kiegészítőkből </th>
    <td mat-cell *matCellDef="let element"> {{element.bits_extension_share_gross | currency }} </td>
  </ng-container>

  <ng-container matColumnDef="prime_sub_share_gross">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Prime sub </th>
    <td mat-cell *matCellDef="let element"> {{element.prime_sub_share_gross | currency }} </td>
  </ng-container>

  <ng-container matColumnDef="bit_share_ad_gross">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cheer reklámokból </th>
    <td mat-cell *matCellDef="let element"> {{element.bit_share_ad_gross | currency }} </td>
  </ng-container>

  <ng-container matColumnDef="experimental_rev_gross">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Egyéb kísérlet </th>
    <td mat-cell *matCellDef="let element"> {{element.experimental_rev_gross | currency }} </td>
  </ng-container>

  <ng-container matColumnDef="sum">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Összesen </th>
    <td mat-cell *matCellDef="let element"> {{element.sum | currency }} </td>
  </ng-container>

  <ng-container matColumnDef="avg">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Havi átlag </th>
    <td mat-cell *matCellDef="let element"> {{element.avg | currency }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>